@import "./pricingTable.min.css";

.required-field > label::after {
    content: " \f005";
    color: #F44336;
    font-family: FontAwesome;
    font-size: .6em;
    vertical-align: super;
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}
.active1{text-decoration:underline;}

.form-group.has-error .help-block {
    color: #ff1f1f;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fff !important;
}

.navbar-default .navbar-nav>.active>a::after{
    width: 100%;
}
@media (max-width: 768px) {
    .sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
        padding: 8px !important;
    }
}

::-webkit-inner-spin-button {
    display: none;
}

select.form-control[multiple] {
    background: none;
}

.sw-btn-next {
    margin-left: 10px !important;
}

.icheckbox_flat-blue, .iradio_flat-blue {
    width: 21px;
    height: 21px;
}

a.clickable-object {
    position: relative;
    display: inline-block;
}

a.clickable-object:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tab-content {
    padding-top: 2rem;
}

#cart-details .table-responsive {
    border-radius: 5px;
}

#cart-details table thead tr {
    background-color: #50c6e9;
    color: #FFF;
}

#cart-details table thead td, #cart-details table thead th {
    text-align: left;
}

.inner{
    margin-top: 1.8em;
}
.navbar{
    min-height: 85px !important;
}
@media (min-width: 768px)
{
    ul.main-nav.nav.navbar-nav{
        display: table !important ;
        margin: 0 25% !important;
        float: none;
    }
    .navbar-nav>li {
        /*             float: none;
                    display: inline-block !important;*/
    }
}

.m_50{
    margin-top: 5em !important;
}

.m_12{
    margin-top: 12em !important;
}
.try-bth-di ul li img {
    min-height: auto !important;
    height: 40px;
}
.custom_sub_text1{
    color: #a2a2a2;
    margin-bottom: -3em;
    margin-top: 100px;
}
.btn-sm{
    height: auto !important;
}
.pro-quantity .form-group label{display: none;}
.pro-quantity input{width: 50px; box-shadow:0px 2px 3px 0px rgba(0,0,0,0.15);}
.color-available{
    margin-left: -5px;
}

.color-available ul{
    margin-left: auto;
    margin-top: -1.5em;
    text-align: center;
}

.product-card:hover{
    border-color: rgb(246, 246, 246);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 2px rgba(86, 83, 83, 0.12);
    transition: opacity 0.3s ease-in-out;

}

.product-card .color-available{
    display: table;
    margin: 0 auto !important;
    text-align: center;
    margin-bottom: 2px;
    /* display: none; */
}
.product-card .color-available h6{margin-top: 0;margin-bottom: 0;display: none;}
.product-thumb img {
   
    width: 100% !important;
}
.product-card{
    /* border: none !important; */
    margin: 2px;
}

.inline_block{
    display: table;
    margin: 0 auto;
}

.product-card button.btn.add-to-cart.btn-sm.btn-primary.ladda-button{
    display: inline-block !important;
    margin: 0 auto;
}
.inline_block a.btn.btn-outline-primary.btn-sm.ladda-button
{
    display: inline-block !important;
    text-align: center;
}
.product-buttons{
    display: inline-block !important;
    text-align: center;
}

.product-buttons a.btn.btn-outline-secondary.btn-sm.btn-wishlist.ladda-button
{
    display: none !important;
}

.bg_orange{
    background-color: #fd0404 !important;
    color: #fff !important;
}

li.show{
    display: -webkit-inline-box!important;
}

ul.dropdown-menu.show{
    background-color: #5b6878 !important;
}

ul.dropdown-menu{
    background-color: #5b6878 !important;
    margin-top: 0px!important;
}

div.shop-view {
/*    display: none !important;*/
}

h1.faq-title.text-light{
    color: #404040 !important;
}

.modal {
    z-index: 99 !important;
    padding-top: 0px !important;
}
.try-on-box {

    margin-top: 0px !important;
}
.modal-content{
    position: absolute !important;
    left: 50% ;
    top: 50% ;
    margin: 0 !important;
    margin-left: -472px !important;
    margin-top: -290px !important;
}

a#myBtn{
    margin: 0;
}

.sku-item {
    position: relative;
}

.sku-item .badge {
    font-size: 75%;
    /*width: 100%;*/
}

.img-radio {
    max-height: 100px;
    margin: 5px auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.selected-radio > img {
    opacity: .45;
}

.selected-radio .middle {
    opacity: 1;
}
.step{background-color: #f9f9f9;}
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
/*
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
*/
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px !important;
    margin-top: 0;
    background-color: #f6f6f6;
    color: #231f20;
}
.btn:active:focus:hover:active, .btn:focus:hover:active{
    background-color: #606975!important;
    color: #ffffff!important;
    outline: none!important;
}
.step .first-step-box{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px;
    border: 1px solid #f9f9f9;
    margin-top: 30px;
    color: #777;
}
.first-step-box >h3{text-align: center;}
.step .first-step-box:hover{background-color: #f6f6f6;color: #5e5d5d;border: 3px solid #f6f6f6;}
.stp-hed h4{font-size: 15px;color: #777;}
.stp-hed{text-align: center; border-bottom: 1px solid;border-bottom-style: dotted;border-bottom-color: #ed4f20;}
.option-content{margin-top: 25px;}
.option-content .text-box {width: 65.9%;display: table-cell;text-align: left;vertical-align: middle;}
.text-box p{font-size: 15px;line-height: 1.5;color: #777;font-weight: 500;}
.option-content .text-box {
    width: 65.9%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.option-content .img-box, .option-content .img-box-three, .option-content .img-box-two {width: 34.1%;display: table-cell;vertical-align: middle;}
.option-content .img-box .im-rx-distance {background-position: -2px -2px;}
.add-rx-container {
    position: relative;
    padding: 2% 2% 2% 3%;
    border-bottom: 1px solid #d3d3d3;
}
.add-rx-container .clearfix{clear: both;list-style: none;padding: 0;}
.add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}

.add-rx-container .add-rx-title>label {
    font-size: 14px;
}
.add-rx-container .add-rx-title>label {
    margin-bottom: 0;
    color: #eb4e21;
    font-weight: 800;
}
.add-rx-container .add-rx-title>label>span {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    color: #777;
}
.add-rx-container .add-rx-title {
    padding-top: 9%;
    border-right: 1px solid #f1f1f1;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}
.add-rx-container .rx-name-title {
    text-align: center;
}
.add-rx-container .rx-name-title {
    margin-bottom: 0;
    padding-top: 26.5%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    color: #e95026;
    font-weight: 600;
}

.rx-select>select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    display: inline-block;
    padding: .5rem 2rem .5rem 1rem;
    border-radius: 0;
    position: relative;
    width: 119%\9;
}
.add-rx-container li>label {
    display: block;
    padding: 17% 0;
    margin-bottom: 11%;
}
.rx-input input {
    line-height: normal;
    BACKGROUND-COLOR: #f9f9f9;
    border-bottom: 1px solid #cdcdcd;
}

.rx-select>select>option {
    color: #000;
}
.rx-select:after {
    position: absolute;
    bottom: 15px;
    right: .46875rem;
    z-index: 3;
    content: "\e61c";
    color: #999;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-bottom: -.3em;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 0\9;
}
.add-pd-container .add-rx-title, .add-prism-container .add-rx-title, .add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-pd-container .add-rx-title {
    width: calc(17% + 1px);
}
.add-pd-container li {
    display: inline-block;
    float: left;
    padding: 5px;
    list-style: none;
}
.rx-input, .rx-select {
    height: 33px;
    font-weight: 700;
    font-size: 16px;
}
.add-pd-container {
    position: relative;
    padding: 2% 0% 4% 0%;
}
.add-pd-container .rx-pd-checkbox {
    padding-right: 2%;
    padding-left: 3%;
    white-space: nowrap;
}
.add-pd-container .pd-add-two {
    width: 20%;
    padding-right: 3%;
    padding-left: 3%;
    display: none;
}
.rx-input>input, .rx-input>select, .rx-select>input, .rx-select>select {
    height: 100%;
    padding: 0px 15px !important;
}
.checkbox-ui {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
.checkbox-ui label {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    background: url(./assets/img/im-checked.png) 4px 25px no-repeat #fff;
}
.card-result h3{font-size: 28px;margin: 0 0 10px;}
.card-result h6{font-size: 20px;color: #b4b4b5;font-weight: 400;}
.buying-glass span{text-align: center;display: inherit;}
.product-shop-rate{border-top: 1px solid #bab5b5; padding: 1.5em;padding-bottom: 165px;}
.product-shop-rate p{padding: 0;font-size: 15px;}
.glasses-rate{margin-top: 10px;}
.glasses-rate p{font-size: 18px;font-weight: 500;}
.glasses-rate span{font-size: 25px;font-weight: 800;}
.glasses-buy-bth{margin-top: 30px;text-align: center;}
.glasses-buy-bth a{background-color: #231f20;color: #fff;font-size: 20px;padding: 10px 30px 10px 30px;}
.glasses-buy-bth a:hover{background-color: #ed4e24;}
.panel-body .shipping{padding: 0px;}
/*
.btn[disabled], .btn.disabled{
    background-color: #fafafa !important;
    color: #000 !important;
}
*/
div.first {
    display: block;
    background-color: yellow;
    height: 6em;
    width: 6em;
    text-align: center;
}

div.first:hover {
    background-color: aqua;
    cursor: pointer;
}

p.second {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.second input[type='checkbox'] {
    transform: translateY(15%);
    cursor: pointer;
}

.nextBtn,.prevBtn {
    color: #FFF;
    background-color: #404040 ;
    border-color: #404040 ;
    border-radius: 1px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 10px;
}

.nextBtn:hover,.prevBtn:hover {
    background-color: #000;
    border-color: #000;
}
.first-step-box:hover{
    cursor: pointer;
}

.customSubmitBtn{
    padding: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}
.sku-item {
    position: relative;
}

.sku-item .badge {
    font-size: 75%;
    /*width: 100%;*/
}

.img-radio {
    max-height: 100px;
    margin: 5px auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.selected-radio > img {
    opacity: .45;
}

.selected-radio .middle {
    opacity: 1;
}
.search_form{
    display: inline-block;
}
.custom_search{
    position: relative;
    display: inline-block;
}
.custom_search #search_bar{
    display: inline-block;
    border-bottom: 1px solid;
    width: 180px;
    margin-right: 10px;
    color: #000; 
    border-radius: 0; 

}
i.fa.fa-search.search_icon{
    font-size: 20px !important;
}


.filtering{
    width: 100%;
    padding-left: 60px;
}
.alert.alert-success.alert-dismissible.fade.in.custom_filters{
    background-color: #fff !important;
    display: inline-block !important;
    margin-top: 20px;
    line-height: 16px;
    height: 50px;
}
.alert-dismissable .close, .alert-dismissible .close{
    top: -7px !important;
}
.alert.alert-success.alert-dismissible.fade.in.custom_filters strong{
    color: #000 !important;
}

.topbar-column{
    position: relative;
    z-index: 999999;
    float: right;
}

.price_div{
    padding: 10px !important;
}
.price_div li{
    color: #fff;
}
.price_div li h3{
    color: #fff;
}
.custom_submit_btn
{
    background-color: #404040 !important;
    border-color: #fff !important;
}

.custom_submit_btn:hover
{
    background-color: #fff !important;
}
.social2 ul li a i{
    color: #929292 !important;
}

.ul_left{
    float: left;
}

.search-row{
    position: relative;
    z-index: 9;

}
div#checkoutSteps2{
    min-height: auto!important;
}
.tab-content img{
    height: auto !important;
}
input.form-control{
    box-shadow: none;
}
img.img-responsive.img-radio.mx-auto{
    min-height: 230px;
}

.social2 ul li a:hover{
    background-color: #fff !important;
}

/*mega menu*/
.main-nav .mega-dropdown {
    position: static !important;
}
.main-nav .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.main-nav .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.main-nav .mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.main-nav .mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 10px 5px;
}
.main-nav .mega-dropdown-menu > li ul > li > a:hover,
.main-nav .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.main-nav .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #0a1a2f;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.main-nav .carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}
.main-nav .left.carousel-control {
    right: 30px;
    left: inherit;
}
.main-nav .carousel-control .glyphicon-chevron-left,
.main-nav .carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}
.postion_absolute_left{
    position: absolute !important;
    left: 0 !important;
    z-index: 999 !important;
}


.bottom_link_selector{
    position: relative;
    overflow: hidden;
}
.bottom_link_selector a::after {
    background-color: #ee4e23;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0;
}

.bottom_link_selector.active2 a::after {
    width: 100%;
}
.footer img {
    display: inline-block;
    width: auto!important;
    height: auto!important;
    display: inline-block;
    padding: 2px;
    /*transform: translate(-50px);*/
}
.footer img span{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.footer-menu ul li a{
    color: #fff !important;
    font-size: 18px !important;
    font-weight: bold !important;
}
.footer-menu ul li a span{
    margin-left: 15px !important;
}

.footer img {
    margin-bottom: 5px !important;
}
.footer ol, .footer ul{
    margin-top: 0 !important;
}
.footer-copy{
    background-color: #262626 !important;
}

.product-gallery{
    position: relative;
}

.product-gallery .top_left_btn{
    position: absolute;
    top: 25px;
    left: 15px;
    width: 100px;
    height: 30px;
    background: #4b4b4b!important;
    color: #f9f8f8;
    font-size: 12px;
    font-weight: bold;
}


.footer-copy span{
    float: left;
    color: #fefefe !important;
}
.footer-copy .policy_ex{
    display: inline-block;
    /* margin: -16px 6em; */
    padding: 0px;
    list-style-type: none;
    white-space: nowrap;
}

.footer-copy .policy_ex li{
    float: left;
}
.footer-copy .policy_ex li a{
    color: #636363;
    cursor: pointer;
}
.footer-copy .policy_ex li:after{
    content: '|';
    margin-left: 14px;
    margin-right: 14px;
    font-size: 19px;
}


.footer-copy .social_ex{
    float: right;
    list-style: none;
    margin-right: 10px;
}
.footer-copy .social_ex li{
    float: left;
    padding-left: 8px;
}
.footer-copy .social_ex li a i{
    font-size: 30px;
    color: #fff;
}
.footer-copy .social_ex li a{
    color:#000;
}

.footer-copy .social_ex li a:hover{
    color:#656363;
}

.footer-copy hr {
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    border-top: 1px solid #656565;
}

.top-navbar a{
    margin-right: 0px !important;
    padding-right: 0px !important;
    border-right: 0px !important;
}

.top-navbar li:after{
    content: '|';
    margin-left: 30px;
    margin-right: 30px;

}

.top-navbar a{
    position: relative;
}

.top-navbar li:last-child:after {
    content: none;
}
.footer-copy .policy_ex li:last-child:after{
    content: none;
}
.footer-copy .policy_ex li:last-child{
    margin-top: 5px !important;
}
.search-row{
    position: relative;
}
.ratess strong{
    font-size: 31px !important;
}
.post_relative{
    position: relative !important;
}
.post_absolute{
    position: absolute !important;
    right: -54px !important;
    bottom: -7px !important;
    z-index: 999;
}
.filter_btn{
    width: 70px !important;
    height: 30px !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    margin-top: 5px !important;
}

.reset_btn{
    width: 70px !important;
    height: 30px !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    margin-left: 5px !important;
}

form{
    margin-bottom: 0px !important;
}

@media (min-width: 768px)
{
    ul.main-nav.nav.navbar-nav
    {
        margin: 0 17% !important;
    }
}

.single-footer{
    margin-top: 0px !important;
}
.footer
{
    padding: 20px !important;
}



.toolbar{
    position: absolute;
    top: 50% !important;
    height: auto !important;
    z-index: 9 !important;
    margin-top: -35px ;
}

.toolbar .inner {
    height: auto !important;
    min-height: auto !important;
}

.toolbar .tools {
    height: auto !important;
    position: relative !important;
}
.navbar{ border: none!important;}
.dropdown-menu{
    min-width: auto!important;
    width: 100% !important;
}

/*3step checkout page start*/
.step{background-color: #f9f9f9;}
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0; }
.step .first-step-box{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px;
    border: 1px solid #f9f9f9;
    margin-top: 30px;
}
.first-step-box >h3{text-align: center;}
.step .first-step-box:hover{background-color: black;color: #fff;border: 3px solid #e85021;}
.stp-hed h4{font-size: 15px;}
.stp-hed{text-align: center; border-bottom: 1px solid;border-bottom-style: dotted;border-bottom-color: #ed4f20;}
.option-content{margin-top: 25px;}
.option-content .text-box {width: 65.9%;display: table-cell;text-align: left;vertical-align: middle;}
.text-box p{font-size: 15px; line-height: 1.5;}
.option-content .text-box {
    width: 65.9%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.option-content .img-box, .option-content .img-box-three, .option-content .img-box-two {width: 34.1%;display: table-cell;vertical-align: middle;}
.option-content .img-box .im-rx-distance {background-position: -2px -2px;}
.add-rx-container {
    position: relative;
    padding: 2% 2% 2% 3%;
    border-bottom: 1px solid #d3d3d3;
}
.add-rx-container .clearfix{clear: both;list-style: none;padding: 0;}
.add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}

.add-rx-container .add-rx-title>label {
    font-size: 14px;
}
.add-rx-container .add-rx-title>label {
    margin-bottom: 0;
    color: #eb4e21;
    font-weight: 800;
}
.add-rx-container .add-rx-title>label>span {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    color: #777;
}
.add-rx-container .add-rx-title {
    padding-top: 9%;
    border-right: 1px solid #f1f1f1;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}
.add-rx-container .rx-name-title {
    text-align: center;
}
.add-rx-container .rx-name-title {
    margin-bottom: 0;
    padding-top: 26.5%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    color: #e95026;
    font-weight: 600;
}
.rx-select>select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    display: inline-block;
    padding: .5rem 2rem .5rem 1rem;
    border-radius: 0;
    position: relative;
    width: 119%\9;
}
.add-rx-container li>label {
    display: block;
    padding: 17% 0;
    margin-bottom: 11%;
}
.rx-input input {
    line-height: normal;
    BACKGROUND-COLOR: #f9f9f9;
    border-bottom: 1px solid #cdcdcd;
}

.rx-select>select>option {
    color: #000;
}
.rx-select:after {
    position: absolute;
    bottom: 15px;
    right: .46875rem;
    z-index: 3;
    content: "\e61c";
    color: #999;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-bottom: -.3em;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 0\9;
}
.add-pd-container .add-rx-title, .add-prism-container .add-rx-title, .add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-pd-container .add-rx-title {
    width: calc(17% + 1px);
}
.add-pd-container li {
    display: inline-block;
    float: left;
    padding: 5px;
    list-style: none;
}
.rx-input, .rx-select {
    height: 33px;
    font-weight: 700;
    font-size: 16px;
}
.add-pd-container {
    position: relative;
    padding: 2% 0% 4% 0%;
}
.add-pd-container .rx-pd-checkbox {
    padding-right: 2%;
    padding-left: 3%;
    white-space: nowrap;
}
.add-pd-container .pd-add-two {
    width: 20%;
    padding-right: 3%;
    padding-left: 3%;
    display: none;
}
.rx-input>input, .rx-input>select, .rx-select>input, .rx-select>select {
    height: 100%;
}
.checkbox-ui {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
.checkbox-ui label {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    background: url(./assets/img/im-checked.png) 4px 25px no-repeat #fff;
}
.card-result h3{font-size: 28px;margin: 0 0 10px;}
.card-result h6{font-size: 20px;color: #b4b4b5;font-weight: 400;}
.buying-glass span{text-align: center;display: inherit;}
.glasses-rate{margin-top: 10px;}
.glasses-rate p{font-size: 18px;font-weight: 500;}
.glasses-rate span{font-size: 25px;font-weight: 800;}
.glasses-buy-bth{margin-top: 30px;text-align: center;}
.glasses-buy-bth a{background-color: #231f20;color: #fff;font-size: 20px;padding: 10px 30px 10px 30px;}
.glasses-buy-bth a:hover{background-color: #929292 ;}
.panel-body .shipping{padding: 0px;}
/*3step checkout form start*/



.btn-indigo{
    background-color: #404040 !important;
}

#editable_content{
    margin-top: 0% !important;
}


.page-title {
    padding-top: 20px;
    display: none;
}

section.p-t-lg.p-b-lg.bannerSection{
    margin-top: 6%;
    background: #f7f7f7;
    height: 100%;
    margin-bottom: -20px;
}



/*Product Detail Page*/

.product_detail_right_card{
    background-color: #f7f5f0;
    padding: 20px;
}

.product_detail_right_card .main_head{
    font-size: 20px;
    font-weight: bold;
}

.product_detail_right_card hr{
    height: 1px !important;
    border-top: 1px solid #d6d6d6;
}

.product_detail_right_card .sub_head,.product_detail_right_card .subtotal_label{

    font-size: 14px;
    font-weight: bold;
}

.product_detail_right_card .check_box_label{
    font-size: 14px;
    font-weight: normal !important;
}

.product_detail_right_card .price_label{
    font-size: 14px;
}

.product_detail_right_card .price_amount_label{
    font-size: 14px;
}
.product_detail_right_card .subtotal_amount_label{
    font-size: 14px;
    font-weight: bold;
}

.product_detail_right_card .dropdown{
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.product_detail_right_card .price_box{
    border-bottom: 1px solid #d6d6d6;
    height: 35px;
}

.product_detail_right_card .add_btn{
    width: 100%;
    background-color: #2e68d4 !important;
}

.product_detail_right_card .add-to-cart{
    margin-top: 0px !important;
    width: 100%;
}
.try-home .homebth{text-align: center;display: inherit;}
.product .try-home a{display:none}
.product:hover .try-home a {display: block;}
.try-home a{border: 2px solid;padding: 5px 15px;}
.Product-sec .product{max-height: 150px; margin-bottom: 140px;}
.padding-bottom-1x .text-medium{display: none;}
.padding-bottom-1x .tagss{display: none;}
.rating .color-available ul{margin-left: 30px;}
.owl-item .product-card .color-available{margin: 6px 0px 0px 36px;}
.owl-item .shop-bth{margin-top: 90px;}



i.icon-heart{
    font-size: 28px;
    margin-top: -25px;
}

.add_to_wish{
        margin-left: 4px;
    font-size: 12px;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: #000
}

.btn-outline-secondary:hover {
    background-color: #fff !important;
}

.btn-outline-secondary:hover .add_to_wish{
    text-decoration: underline;
}


.ratess strong{
    font-size: 2.2rem !important;
    font-weight: 400 !important;
    color: #000 !important;
}


h1.padding-top-1x.text-normal,h3.padding-top-1x.text-normal {
    font-size: 28px !important;
    letter-spacing: .5pt !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    color: #000 !important;
}


.product-card .product-price{
    font-size: 16px !important;
    font-size: 1.6rem !important;
    color: #000;
}


.add-to-cart, .like{
    background: #000 !important;
    text-transform: UPPERCASE !important;
    color: #f9f9f9 !important;
    border: 2px solid #000 !important;
    border-radius: 0px !important; 
    padding: 0.9em 1.5em !important;
    font-weight: 400 !important;
    opacity: 1 !important;
}

.inline_block{
    display: inline-block !important;
}

.add-to-cart:hover, .like:hover{
    background: #fff !important;
    color: #000 !important;
}

@media (min-width: 768px)
{
    ul.main-nav.nav.navbar-nav {
        margin: 0 8% !important;
    }
}


.owl-item .product-card:hover .btn {
    display: none;
}




div#search_barautocomplete-list {
    position: absolute;
    width: 82%;
    padding: 15px;
    color: #000;
    background-color: #ffffff;
    text-transform: capitalize;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
}

div#search_barautocomplete-list div {
    padding: 10px;
    cursor: pointer;
}

div#search_barautocomplete-list div:hover {
    background-color: darkgray;
}
	.rect1 {
/*			border: 2px solid #a64ceb;*/
			left: -1000px;
			position: absolute;
			top: -1000px;
		}
/*
        .rect12 {
            left: auto!important;
            position: absolute !important;
            top: auto!important;
        }
*/

        #face {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -173px 0 0 -300px;
        }

.demo-container {
  width: 100%;
  height: 400px;
  position: relative;
  background: #000;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.demo-container .img_cropper{
    width: 100%;
    height: 100%;
}


.demo-container #crop_result{
    width: 100%;
    height: 100%;
    display: none;
}

.stp-hed h4 {
    color: #000;
    font-weight: 500;
}

button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button,.cus_lense_btn{
        padding: 0.9em 2.49em !important;
}

@media (max-width: 768px) {
    .post_absolute{
        position: relative !important;
        left: 0;
        bottom: 0;
    }
    .search-row li a {
    padding: 10px 20px 10px 0px !important;
    white-space: nowrap;
}
    .dropdown, .dropup {
    position: static !important;
}

.modal-content {
    width: 80% !important;
    height: auto !important;
    position: static !important;
    margin: auto !important;
    margin-top: 90px !important;
}
}
button.close{
    position: relative;
    z-index: 9;
}
@media (max-width: 375px)
    {
        .search-row li a {
        padding: 5px 5px 5px 5px !important;
    }
}
@media (max-width: 425px)
    {
        .search-row .dropdown.has-children.parent-category,.search-row .dp_pr{
            display: inline-block !important;
            width: 80px !important;
            margin-top: 10px !important;
        }
        .search-row .pd{
            padding-left: 12px !important;
        }
/*
        form#filterForm{
            display: table;
            margin: 0 auto;
            text-align: center;
        }
*/
}


/**********!  Update By Umair !********/

@media (max-width: 375px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        padding: 0.9em 1.9em !important;
    }
}

@media(min-width: 320px) and (max-width: 768px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        padding: 0.9em 1em !important;
        width: 47.6%;
        float: left;
    }
    .product-card .shop-bth a {
        display: block !important; 
        background-color: #ffffff!important;
        color: #606975!important;
        outline: none!important;
        border: 1px solid #606975!important;
    }
    .owl-item .shop-bth {
        margin-top: 30px;
    }
    .owl-stage-outer .shop-bth {
        display: none;
    }

}

@media(min-width: 320px) and (max-width: 640px){
    .mob-font-size {
        font-size: 11px;
    }
    .product-price div{
        font-size: 12px;
    }
}
    

@media screen and  (max-width: 1024px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        padding: 0.9em 1em !important;
        width: 47.9%;
        float: left;
    }
    .float_right {
        padding: 0px 0px;
    }
}

@media screen and  (max-width: 768px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 49.1%;
    }
    .mobi_hori_center{
        display: table;
        margin: 0 auto;
    }
    .mobi_text_center{
        text-align: center;
    }
    .sizechat_m_t_0{
        margin-top: 0px !important;
    }

    .mobi_p_0{
        padding: 0px !important;
    }
    .mobi_m_r_5{
        margin-left: 5px !important;
    }
    .mobi_float_right{
        float: right !important;
        padding-right: 15px !important;
    }
}

@media screen and  (max-width: 640px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 48.9%;
    }
}

@media screen and  (max-width: 568px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 48.8%;
    }
}
@media screen and (max-width: 414px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 48%;
    }
}
@media screen and (max-width: 411px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 47.9%;
    }
}
@media screen and (max-width: 411px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 47.9%;
    }
}
@media screen and (max-width: 360px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        width: 47.9%;
    }
}
@media screen and (max-width: 320px){
    button.btn.add-to-cart.btn-sm.btn-secondary.ladda-button, .cus_lense_btn {
        padding: 0.9em 1em !important;
        width: 47.6%;
        float: left;
    }
}
/**********!  Update By Umair !********/


.m_2 {
    margin-top: 2em !important;
}