@font-face {
    font-family: Axiforma-black;
    src: url(../assets/themes/ecommerce-basic/fonts/Axiforma/Axiformablack.ttf);
}
@font-face {
    font-family: Banana-Yeti-light;
    src: url(../assets/themes/ecommerce-basic/fonts/Banana-Yeti-Light.ttf);
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body {
    height:100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding:0;
    margin:0;
    font-size:14px;
    line-height: 28px;
    color: #777;
    background: #fff;
    position: relative;
}
/*           Font Smoothing      */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*           Typography          */

h1, .h1, h2, .h2, h3, .h3, h4, .h4{
    font-weight: 400;
}

h1, .h1 {
    font-size: 52px;
}
h2, .h2{
    font-size: 36px;
}
h3, .h3{
    font-size: 28px;
    margin: 20px 0 10px;
}
h4, .h4{
    font-size: 22px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    font-size: 15px;
    line-height: 1.6180em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #999999;
    font-weight: 300;
    line-height: 1;
}
h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}
h1 .subtitle{
    display: block;
    line-height: 40px;
    margin: 15px 0 30px;
}
p {
    padding: 0 0 1em;
    margin:0;
}
a {
    color: #aba3a3;
    outline: 0;
    font-weight: bold;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
a:hover {
    text-decoration: none;
    color: #262626;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
a:focus {
    color: #999696;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0 none;
}

input {
    outline: 0;
    border: none;
    width: 100%;
    height: inherit;
    color: #333333;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 3px;
}
button {
    border-radius: 3px;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: 0;
    outline-offset: 0;
    border: none;
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.bg-pink{
    background-color: #ec018c !important;
}
.bg-purple{
    background-color: #7d3d97  !important;
}
.bg-yellow{
    background-color: #f7c000 !important;
}
.bg-green{
    background-color: #76c043 !important;
}
.bg-blue{
    background-color: #00aeef !important;
}
.bg-red{
    background-color: #fc391d !important;
}
.bg-dgrey{
    background-color: #2c3e50 !important;
}
.bg-grey{
    background-color: #95a5a6 !important;
}
.pink{
    color: #ec018c;
}
.purple{
    color: #7d3d97;
}
.purlple-light{
    color: #b59ac6;
}
.btn:focus,
.btn:hover,
.btn:active{
    outline: 0;
}
.btn{
    border-width: 2px;
    background-color: rgba(0,0,0,.0);
    font-weight: 400;
    opacity: 0.8;
    padding: 8px 16px;
}
.btn-round{
    border-width: 1px;
    border-radius: 30px !important;
    opacity: 0.79;
    padding: 9px 18px;
}
.btn-sm, .btn-xs {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
}
.btn-xs {
    padding: 1px 5px;
}
.btn-lg{
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 30px;
}
.btn-wd {
    min-width: 100px;
}
.btn-default{
    color: #777777;
    border-color: #999999
}
.btn-info{
    color: #2CA8FF;
    border-color: #2CA8FF;
}
.btn-success{
    color: #262626;
    border-color: #262626;
}
.btn-warning{
    color: #FF5722;
    border-color: #FF5722;
}
.btn-danger{
    color: #FF3B30;
    border-color: #FF3B30;
}
.btn:hover{
    opacity: 1;
}
.input-lg{
    height: 56px;
    padding: 10px 16px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #1D62F0;
    border-color: #1D62F0;
    background-color: rgba(0,0,0,.0);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #109CFF;
    border-color: #109CFF;
    background-color: rgba(0,0,0,.0);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #404040;
    border-color: #404040;
    background-color: rgba(0,0,0,.0);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #ee4f27;
    border-color: #ef4d27;
    background-color: rgba(0,0,0,.0);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #EE2D20;
    border-color: #EE2D20;
    background-color: rgba(0,0,0,.0);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #666666;
    border-color: #888888;
    background-color: rgba(0,0,0,.0);
}
.btn:active, .btn.active {
    background-image: none;
    box-shadow: none;

}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.45;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background: #f9f9f900;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #5b6878;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    border: 2px solid #5b6878;
    margin-top: 10px;
    border-radius: 10px;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2CA8FF;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05AE0E;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FF3B30;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FDC600;
}
.input-group-addon {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,.btn-primary:active:focus, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #5b6878;
    border-color: #5b6878;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
}
.btn-default {
    border-radius: 1px;
    padding: 10px 20px;
    border: 1px solid #ed4f20;
    color: #000;
    background-color: #ed4f20;
    border-color: #F0F0F0;
    font-weight: 600;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #262626;
    border-color: #F0F0F0;
    font-weight: 600;
}
.search-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9;
}


.form-inline .form-control, .form-inline .form-control {
    background: rgba(252, 252, 252, 0.35);
    border-radius: 1px;
    color: #ADADAD;
    height: 40px;
    width: 195px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background-color: rgb(253, 254, 254);
    background-image: none;
    border: 1px solid #dadada85;
    border-radius: 4px!important;
    border-style: solid;
}

textarea.form-control {
    height: 129px;
}
form {
    margin: 0;
    margin-bottom: 5%;
}

.form-inline input[type=submit]{
    background: #FDC600;
    color: #fff;
    height: 40px;
    width: 90px;
    border-radius: 1px;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.form-inline input[type=submit]:hover{
    background: #00A2DE
}
.form-control::-moz-placeholder{
    color: #DDDDDD;
    opacity: 1;
}
.form-control:-moz-placeholder{
    color: #DDDDDD;
    opacity: 1;
}
.form-control::-webkit-input-placeholder{
    color: #DDDDDD;
    opacity: 1;
}
.form-control:-ms-input-placeholder{
    color: #DDDDDD;
    opacity: 1;
}


.form-control:focus {
    border-color: #CBCBCB;
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0);
}

/* Animations              */
.form-control, .input-group-addon{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/* Inputs               */
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #838383;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #221e1f2e;
    border-radius: 0;
    box-shadow: 0 2px 6px 2px rgba(179, 179, 179, 0.1);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: none;
    outline: 0 none;
}
.form-control + .form-control-feedback{
    border-radius: 6px;
    font-size: 14px;
    padding: 0 12px 0 0;
    position: absolute;
    right: 8px;
    top: 57px;
    vertical-align: middle;
    width: 100%;
}
.form-control:focus + .input-group-addon, .form-control:focus ~ .input-group-addon{
    background-color: #FFFFFF;
    border-color: #9A9A9A;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}
.search-btn ,.toggle-btn{
    background-color: #FDC600;
    color: #333;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 40px;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    padding: 0;

}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEEEEE;
    color: #999999;
    cursor: not-allowed;
}
.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus{
    border-color: #E3E3E3;
    box-shadow: none;
}
.has-success .form-control,
.has-success .form-control-feedback,
.form-control.valid:focus{
    border-color: #05AE0E;
    color: #05AE0E;
}
.has-error .form-control,
.has-error .form-control-feedback,
.form-control.error{
    color: #FF3B30;
    border-color: #FF3B30;
}
/*           Labels & Progress-bar              */
.label{
    padding: 0.2em 0.6em 0.2em;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
.label-primary{
    border-color: #3472F7;
    color: #3472F7;
}
.label-info{
    border-color: #2CA8FF;
    color: #2CA8FF;
}
.label-success{
    border-color: #eb4e23;
    color: #fcfcfc;
}
.label-warning{
    border-color: #FDC600;
    color: #FDC600;
}
.label-danger{
    border-color: #FF3B30;
    color: #FF3B30;
}

label.error{
    color: #FF3B30;
    margin-top: 5px;
    margin-bottom: 0;
}

label small{
    color: #999999;
}

.label.label-fill{
    color: #FFFFFF;
}
.label-primary.label-fill, .progress-bar, .progress-bar-primary{
    background-color: #3472F7;
}
.label-info.label-fill, .progress-bar-info{
    background-color: #2CA8FF;
}
.label-success.label-fill, .progress-bar-success{
    background-color: #05AE0E;
}
.label-warning.label-fill, .progress-bar-warning{
    background-color: #FDC600;
}
.label-danger.label-fill, .progress-bar-danger{
    background-color: #FF3B30;
}
.label-default.label-fill{
    background-color: #999999;
}

.bootstrap-select button.dropdown-toggle{
    background: rgba(252, 252, 252, 0.35) none repeat scroll 0% 0%;
    border-radius: 1px;
    color: #ADADAD;
    height: 40px;
    margin-right: 10px;
    width: 99%;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    color: #ADADAD;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #EAE9E9;
    box-shadow: 0 1px 1px rgba(179, 179, 179, 0.1) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-weight: 300;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.bootstrap-select .dropdown-menu {

    margin: 20px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.176);
    border-top: none;
}
.tab-content .bootstrap-select button.dropdown-toggle {
    width: 100%;
}
.tab-content .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.input-group-btn .btn{
    border-radius: 0;
    height: 44px;
    color: #FFF;
}
/* Navigation bils */
.wizard-container .nav-pills > li + li {
    margin-left: 0;
}
.wizard-container  .nav-pills > li > a {
    border: 1px solid #2CA8FF;
    border-radius: 0;
    color: #2CA8FF;
    margin-left: -1px;
}

.nav-pills.ct-blue > li > a {
    border: 1px solid #3472F7;
    color: #3472F7;
}
.nav-pills.ct-azure > li > a {
    border: 1px solid #2CA8FF;
    color: #2CA8FF;
}
.nav-pills.ct-green > li > a {
    border: 1px solid #05AE0E;
    color: #05AE0E;
}
.nav-pills.ct-orange > li > a {
    border: 1px solid #FDC600;
    color: #FDC600;
}
.nav-pills.ct-red > li > a {
    border: 1px solid #FF3B30;
    color: #FF3B30;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #2CA8FF;
    color: #FFFFFF;
}

.nav-pills > li:first-child > a{
    border-radius: 4px 0 0 4px;
    margin: 0;
}
.nav-pills > li:last-child > a{
    border-radius: 0 4px 4px 0;
}

.pagination.no-border > li > a, .pagination.no-border > li > span{
    border: 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 50%;
    margin: 0 2px;
    color: #777777;
}
.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
    background-color: #2CA8FF;
    border: 0;
    color: #FFFFFF;
    padding: 7px 13px;
}
.text-primary, .text-primary:hover{
    color: #1D62F0;
}
.text-info, .text-info:hover{
    color: #109CFF;
}
.text-success, .text-success:hover{
    color: #0C9C14;
}
.text-warning, .text-warning:hover{
    color: #ED8D00;
}
.text-danger, .text-danger:hover{
    color: #EE2D20;
}
.modal-header {
    border: 0 none;
}
.top-navbar{
    background-color: #f9f9f9;
    z-index: 99;
}
.top-navbar li{
    float: left;
    list-style: none;
    margin: 6px 0px 6px 0;
}
.top-navbar ul{
    padding: 0px 0 0px 0px;
}
.top-navbar a{
    color: #5d5252;
    margin-right: 30px;
    padding-right: 20px;
    border-right: 1px solid;
}

.navbar-default .navbar-nav > li > a{
    color: #293442!important;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #a7a7a7;
    background-color: transparent;
}
.navbar-nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li > a.active:after{

    background-color: #FDC600;
    bottom: -24px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.navbar-default .navbar-nav > li > a::after {
    background-color: #262626;
    bottom: -2px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0%;
}
/*
.navbar-default .navbar-nav > li > a:hover:after {
    width: 100%;
}
*/

.navbar-nav.navbar-right:last-child{
    margin-right: 20%
}
.navbar-brand {
    padding: 0 0 0 0;
}
.main-nav {
    padding-top: 0px;
}
.button.navbar-right {
    padding-top: 10px;
}

.navbar-collapse.in {
    overflow-y: overlay;
}
.nav-button {
    background-color: #ec008c;
    border: medium none;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.nav-button.login{
    background-color: #ffffff;
    margin-right: 5px;
    color:  #121d44;
}
.nav-button.listing{
    background-color: #823a97;
    margin-right: 5px;
    color: #ffffff;
}
.nav-button:hover{
    background-color: #ffffff;
    color: #000;
}
.navbar{
    margin-bottom: 0;
    height: 50px!important;
}
.navbar-default {
    background-image: none;
    background-color: #fff;
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: none;
}
.navbar .container{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-default {
    background-image: none;
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
    z-index: 10;
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 5px 7px -2px #0000001f;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 8%;
}
.nav-tabs > li > a{
    color: #666;
    font-weight: 300;
    border-width: 4px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: transparent transparent #eb008c;
    border-style: solid;
    border-width: 4px;
    color: #666666;
    cursor: default;
    font-weight: 300;
    outline: none;
}
/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 *
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .yamm-content {
    padding: 20px 30px;
}
@media (max-width: 767px) {
    .yamm .yamm-content {
        padding: 10px 20px;
    }
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.yamm ul.dropdown-menu {
    background-color: #f9f9f9!important;
    border: 0.3px solid rgba(227, 227, 227, 0.22);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);
}
.ymm-sw .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: inherit;
    margin: inherit;
    list-style: outside none none;
    font-size: inherit;
    background-color: #FFF;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 0.5px 1px #CECECE;
    background-clip: padding-box;
}
.ymm-sw .dropdown-menu li{
    clear: both;
    height: 50px;
}
.navbar-default .ymm-sw .navbar-nav a::after {
    bottom: 5px;
    background-color: #FFF;
}
.yamm .ymm-sw  .dropdown-menu {
    left: auto;
    right: auto;
}
.navbar .yamm-content h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555555;
}
@media (max-width: 767px) {
    .navbar .yamm-content h5 {
        font-size: 14px;
    }
}
.navbar .yamm-content ul {
    margin: 0;
    padding: 0;
}
.navbar .yamm-content ul li {
    list-style-type: none;
    border-bottom: solid 1px #eeeeee;
    text-transform: uppercase;
    padding: 4px 0;
}
.navbar .yamm-content ul li a {
    color: #777;
    font-size: 14px;
    display: block;
    font-weight: 300;
}
.navbar .yamm-content ul li a:hover {
    color: #FDC600;
    text-decoration: none;
}
.navbar .yamm-content .banner {
    margin-bottom: 10px;
}

.similar-property-wdg {

}

.page-title {
    padding-top: 20px;
}
.page-title h5{
    font-weight: 300;
    margin-bottom: 0
}
.page-title h2 {
    margin: 40px auto 35px;
    font-size: 35px;
    font-weight: 500;
    font-family: Lato-Semobold-Italic;
}

.page-title h2 span{
    background: url("../img/title-icon-left.png") no-repeat left center, url("../img/title-icon-right.png") no-repeat right center;
    padding: 0 40px;
    /*color: #00ADEF*/
}
.page-title p {
    font-size: 18px;
    padding: 10px 20% 25px;
    line-height: 27px;
}

.how-it-work {
    margin: 40px 0 20px;
    background-color: rgb(255, 255, 255);
}
.how-it-work i {
    color:#939191;
    border: 3px solid #939191;
    padding: 19px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
}
.single-work{
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    overflow: hidden;
}
.single-work h3{
    color: #202020;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.single-work p {
    color: #666666;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px;
    padding: 0 37px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.single-work {
    text-align: left;
}

/*testimonial*/

.testimonial{
    position: relative;
    margin-top: 50px;
}
.testimonial .item {
    padding-bottom: 67px;
    position: relative;
}
.testimonial .item .client-face {
    text-align: left;
}
.client-face > img {
    border: none;
    border-radius: 50%;
    float: left;
    margin: 0 12px;
    width: 40px;
}
.client-face > h6 {
    text-transform: none;
    margin-top: 11px;
    float: left;
}
.testimonial .owl-theme .owl-controls .owl-page span{
    background: #FDC600
}

.q:before {
    content: open-quote;
}
.q:after {
    content: close-quote;
}
.client-text {
    padding: 5px 0;
    margin: 15px;
}
.client-text p {
    line-height: 23px;
    padding: 0 0 0.5em;
    margin-top: -20px;
}
.client-text h4 {
    font-size: 15px
}
.client-text h4 i{
    font-size: 13px
}

/*Tools CSS*/
.p0{
    padding: 0;
}
.overflow{
    overflow: hidden;
}
.mar-l-20{
    margin-left: 20px;
}
.mar-r-20{
    margin-right: 20px;
}
.box {
    background: #FFF none repeat scroll 0% 0%;
    margin: 0 0 30px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.box-two {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.dot-hr{
    border-bottom: 1px dotted #CECBC7;
    margin-bottom: 10px;
}
.slim-hr{

}
.color{
    color:#9B9B9B;
}
.orange{
    color:orange;
}
.strong{
    font-weight: 500;
}
.padding-top-25{
    padding-top: 25px;
}
.padding-top-40{
    padding-top: 40px;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
.pr0 {
    padding-right: 0 !important;
}
.pl0 {
    padding-left:0 !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pr-10 {
    padding-right: 10px !important;
}

.padding-top-15{
    padding-top:15px;
}
.padding-bottom-15{
    padding-bottom:15px;
}
.pr-30 {
    padding-right: 30px !important;
}
.p-b-15{
    padding-bottom: 15px;
}
.padding-5{
    padding: 5px
}
.center{
    text-align: center;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.garo-icon-dog-gry{

}
.garo-icon-dog-gry::after{

}
.garo-icon-car-gry{

}
.garo-icon-car-gry::after{

}
.garo-icon-area-gry{

}
.garo-icon-area-gry::after{

}
.garo-icon-sw-gry{

}
.garo-icon-sw-gry::after{

}
.garo-icon-shw-gry{

}
.garo-icon-shw-gry::after{

}

.garo-icon-wf-gry{

}
.garo-icon-wf-gry::after{

}

.garo-icon-bed-gry{

}
.garo-icon-bed-gry::after{

}

.garo-icon-zzz-gry{

}
.garo-icon-zzz-gry::after{

}

/*=====================================
proerty-th
======================================*/

.proerty-th {
    margin-left: -9px;
}
.proerty-th .proerty-item{
    background-color: #FFF;
    margin: 10px;
}
.proerty-th .proerty-item:nth-child(n+3){
    margin-right: 0 !important;
}
.proerty-th .proerty-item .item-thumb{
    position: relative;
}
.proerty-th .proerty-item:hover  .item-thumb img{
    opacity: 1;
}
.proerty-th .proerty-item .item-thumb:hover .tm_mask {
    opacity: 1;
}
.proerty-th .proerty-item  .item-thumb img{
    transition: all 0.2s linear 0s;
    display: block;
    position: relative;
    opacity: 0.7;
    width: 100%;
    min-height: 190px;
    max-height: 190px;
}
.proerty-th .proerty-item  .item-entry{
    padding: 0;
}
.properties-page .proerty-th .proerty-price{
    font-weight: 600;
    color: #FDC600;
}
.proerty-th .proerty-item  .item-entry h5{
    font-weight: 600;
    color: #000000;
    position: relative;
}
.proerty-th .proerty-item .proerty-price{
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    text-align: center;
    padding: 18px 10px 12px;
    background: #180506;
    opacity:0.8;
    border-top-right-radius: 5px;
    line-height: 15px;
}
.proerty-th-list .proerty-item .proerty-price{
    text-align: right;
    line-height: 15px;
    color: #000000;
    position: absolute;
    top: 14px;
    right: 0;
}
.proerty-th .proerty-item .proerty-price span,
.proerty-th-list .proerty-item .proerty-price span{
    font-size: 14px;
}
.proerty-th-list .proerty-item .proerty-price span{
    margin-right: 5px;
}
.proerty-th .proerty-item .item-entry p{
    padding: 0 0;
}
.proerty-th .proerty-item .item-entry button,
.proerty-th-list .proerty-item .item-entry button{
    color: #7d3d97;
    font-size: 16px;
    text-decoration: underline;
    background: none;
    padding: 0 0;
    font-weight: normal;
}
.proerty-th-list .proerty-item .item-entry button{
    background: #7d3d97;
    color: #ffffff;
    padding: 8px 18px;
}
.proerty-item .item-entry > a{
    display: none;
}
.proerty-th-list .proerty-item .item-entry > a{
    display: block;
    color: #0099cc !important;
    font-size: 14px;
    text-decoration: underline;
}
.feature-tag{
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 16px;
    background: #ec018c;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 2px 10px;
    font-style: italic;
}
.proerty-th-list .feature-tag{
    left: 237px;
    right: auto;
}
.proerty-th .proerty-item  .item-entry h5::after {
    /*background: transparent url("../../assets/img/chevron-down.png") no-repeat scroll center center;*/
    width: 15px;
    left: 20px;
    height: 7px;
    content: "";
    position: absolute;
    bottom: -16px;
    display: block;
}

.proerty-status{
    font-weight: 600;
}
.tm_mask {
    opacity: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    overflow: hidden;
    height: 45px;
    position: absolute;
    padding: 5px;
    bottom: 0;
    color: #FFF;

}

/*=====================================
proerty-th-list
======================================*/
.proerty-th-list{
    margin-left: -9px;
}
.proerty-th-list .col-md-4{
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid #efefef;
}
.proerty-th-list .col-md-4 .item-thumb{
    width:40%;
    float: left;
}
.proerty-th-list .col-md-4 .item-thumb img {
    opacity: 1;
    height: 190px;
    vertical-align: middle;
    border: 0 none;
    width: 100%;
    padding-right: 25px;
}

.properties-page .box-two:hover .item-thumb img {
    opacity:1;
}

.proerty-th-list .col-md-4 .item-entry{
    width:60%;
    float: left;
    padding-right: 15px;
}


.proerty-th-list .col-md-3 .item-entry{
    width:60%;
    float: left;
    padding-right: 15px;
}
.proerty-th-list .col-md-3{
    width: 100%;
    padding: 15px 10px;
}
.proerty-th-list .col-md-3 .item-thumb{
    width:40%;
    float: left;
}
.proerty-th-list .col-md-3 .item-thumb img {
    opacity: 0.7;
    height: 230px;
    vertical-align: middle;
    border: 0 none;
    width: 100%;
    padding-right: 25px;
}

.proerty-th-list .proerty-item-ads{
    text-align: center;
    border: none;
}
.properties-page .box-two {
    overflow: hidden !important;
}
.proerty-th-list  .proerty-item .item-entry h5 {
    color: #000000;
    position: relative;
    font-size: 22px;
}

.proerty-th-list .proerty-price{
    font-weight: 600;
    color: #FDC600;
    font-size: 25px;
}
.property-icon {
    clear: both;
    padding: 5px 0;
}
.proerty-th-list .property-icon {
    clear: both;
    padding: 5px 0;
    margin-top: 0;
    color: #555;
}
.property-icon img{

}
.proerty-th-list p {
    clear: both;
    padding-top: 0;
    padding-right: 20px;
    display: block !important;
}


.page-subheader .sort-by-list {
    display: inline-block;
    padding: 0;
    margin-top: 5px;
}
.page-subheader .sort-by-list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.page-subheader .sort-by-list li.active a {
    padding-right: 0;
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    color: #000000;
}
.page-subheader .sort-by-list li a {
    position: relative;
    display: block;
    padding: 5px 0 0;
    background-color: #f9f9f9;
    border-width: 1px;
    border-style: solid;
    border-color: #f9f9f9;
    color: #000000;
    margin-left: -2px;
}
.page-subheader .sort-by-list li a:before{
    content: "|";
}
.page-subheader .sort-by-list li.active a:before{
    content: "";
}
.page-subheader .items-per-page {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.page-subheader .items-per-page label {
    display: inline-block;
    margin-right: 10px;
}
.page-subheader .items-per-page b {
    font-weight: 400;
}
.page-subheader .items-per-page .sel {
    display: inline-block;
    width: 60px;
    position: relative;
}


/*=========================================
single property page
===========================================*/
.single-property-content {
    background-color: #FFF;
    padding: 0 15px 20px;
}

.lSGallery {
    position: relative;
    bottom: 90px;
}
.lSSlideOuter {
    text-align: center;
}
.single-property-content .lSSlideOuter .lSPager {
    display: inline-block;
}
.single-property-content .lSSlideOuter .lSPager li.active, .single-property-content .lSSlideOuter .lSPager li:hover {
    border-radius: 0;
}
.single-property-content .lSSlideOuter .lSPager li.active, .single-property-content .lSSlideOuter .lSPager li:hover {
    border: 2px solid #FFF;
}
.single-property-content .light-slide-item {
    position: relative;
    overflow: hidden;
}
.single-property-content .lSAction > .lSNext {
    background-image: url("../../assets/img/arrow-right.svg");
    background-position: center center;
}
.single-property-content .lSAction > .lSPrev {
    background-image: url("../../assets/img/arrow-left.svg");
    background-position: center center;
}

.favorite-and-print {
    position: absolute;
    z-index: 9;
    right: 0;
    padding: 15px;
}
.favorite-and-print .add-to-fav {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
    width: 35px;
    padding: 10px 3px 4px 6px;
}
.favorite-and-print  .printer-icon {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 10px 7px 4px 7px;
}
.favorite-and-print .add-to-fav:hover  ,.favorite-and-print  .printer-icon:hover  {
    color:#FDC600;
    border-color: #FDC600;
}
.favorite-and-print .add-to-fav i ,.favorite-and-print  .printer-icon i  {
    font-size: 25px;
}
.prp-style-2 .single-property-wrapper{
    margin-top: -35px;
}
.prp-style-1 .single-property-wrapper{
    margin-top: -35px;
}
.single-property-header {
    padding-bottom: 25px;
    position: relative;
    clear: both;
    overflow: hidden;
}
.single-property-header .property-title {
    margin: 10px 0;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.single-property-header .property-price{
    color: #FFA500;
    font-size: 30px;
    letter-spacing: 1.5px;
    right: 0;
    border-bottom: 2px solid;
    line-height: 42px;
}
.clearfix {
    clear: both;
}
.s-property-title {
    margin-bottom: 15px;
    color: #FFA500;
    font-size: 18px;
}

.s-property-title::after {
    background-color: #E5E6E7;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 0 0 2px;
}
.property-single-content p {
    margin-bottom: 20px;
}
.space1{
    height: 20px;
}
.property-meta{
    padding: 20px 0;
}
.property-info-entry .property-info-label {
    font-size: 13px;
    display: block;
    line-height: 15px;
    text-transform: uppercase;
}
.property-info-entry .property-info-value {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}
.property-info-unit{
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
}
.additional-details-list{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.additional-details-list li{
    overflow: hidden;
    margin: 2px;
    border: 1px solid #F3F3F3;
}
.add-d-title {
    font-weight: 600;
    text-transform: uppercase;
    background-color: #A5A5A5;
    margin: 0;
    color: #FFF;
}
.add-d-title:hover {
    background-color: #727272;
}

.sidebar-property{
    background-color:#EEE;
    padding: 15px 25px 25px;
}
.dealer-widget {
    background-color: #838383;
    padding: 15px;
    color:#FFF;
    padding-bottom: 20px;
    margin: -15px -15px 25px;
}
.dealer-name{
    margin-top: 6px;
    margin-bottom: 5px;
}
.dealer-name a {
    color: #626262;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.dealer-name span {
    font-size: 17px;
    clear: both;
}
.dealer-face img{
    opacity: 0.7
}
.dealer-face img:hover{
    opacity: 0.9;
    border: 2px solid #FFF;
}
.dealer-social-media a{
    color: #969696;
    margin: 5px;
}
.dealer-contacts{
    list-style: outside none none;
    padding: 30px 0 0 10px;
}
.dealer-contacts li i{
    color: black;
    padding-right: 8px;
}
.clear{
    clear: both;
    overflow: hidden;
}
.dealer-content p{
    padding-left: 10px;
}
.section {
    padding-top: 15px;
    padding-bottom: 15px;
}
.property-features ul {
    padding: 0 ;
    list-style: outside none none;
}
.property-features ul li{
    margin: 0 15px 15px 0;
    display: inline-table;
}
.property-features ul li a::after{
    content: "/";
    color: #FDC600;
    font-weight: bold;
    padding-left: 5px;
    font-size: 14px;
}
.property-features ul li a{
    text-transform: uppercase;
    color: #9C9C9C;
    font-weight: 500;
}
.property-features ul li a:hover{
    color: black;
}
.roperty-social ul{
    padding: 0;
    margin: 0;
    list-style: outside none none ;
}
.roperty-social ul li{
    display: inline-block;
    margin: 5px;
}
.property-style2 .dealer-widget {
    background-color: #838383;
}
.dealer-section-space{
    margin: -5px -14px 25px;
    background-color: #9B9B9B;
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
}
#prop-smlr-slide_0 .owl-item{
    padding: 5px;
}
#prop-smlr-slide_0 .owl-item .item-entry{
    padding: 10px
}
#prop-smlr-slide_0 .owl-item .item-entry h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #9B9B9B;
    letter-spacing: 2px;
    position: relative;
}
/*full width property */
.full-width-sld .lSGallery {
    bottom: 36px;
}

.dealer-action a{
    color: #7E7E7E;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.dealer-action a:hover{
    color: black;
}
.dealer-action a::after{
    content: "/";
    color: #FDC600;
    font-weight: 700;
    font-size: 20px;
    margin: 4px;
}
.register-area{
    padding: 40px;
}

/*=====================================
Welcom
======================================*/
.how-it-works{
    background: #f4eff7;
    position: relative;
}
.how-it-works .container .Welcome-entry{
    overflow: hidden;
    padding: 50px 10px 45px;
}
.welcome-icon {
    height: 90px;
    width: 90px;
    border: 2px solid #777;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    padding: 15px;
    cursor: pointer;
}
.welcome-estate:hover .welcome-icon{
    color:#FFF;
    border: 2px solid transparent;
    background-color: #FDC600;
}

.welcome_text{
    color:#FFF;
}
.welcome-estate{
    /*background-color: #FFF;*/
    padding: 4px 0;
    text-align: left;
}
.number{
    position: absolute;
    color: #e8dcef;
    font-size: 102px;
    font-weight: 400;
    z-index: -1;
    left: 0;
}
.welcome-estate h5 {
    color: #121d44;
    font-size: 18px;
    margin: 0 0;
    padding-left: 10px;
    font-weight: 600;
}
.welcome-estate h3 {
    font: 500 25px "Lato",sans-serif;
    margin: 0;
    padding-left: 10px;
}
.welcome-estate p {
    font-size: 13px;
    line-height: 15px;
    margin-top: 2%;
    color: #5b5b5b;
}
.welcome_text ul {
    padding-left: 0;
    list-style: outside none none;
    margin-top: 45px;
}
.welcome_text ul li {
    margin-bottom: 10px;
}
.welcome_text ul li span {
    font-size: 18px;
    margin-right: 15px;
}
.welcome-circle{
    background-color: #FFF;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: -18px 0;
    border: 10px solid #F3F3F3;
    position: relative;
    z-index: 1000;
}
.welcome_text .page-title h2 {
    color: #9B9B9B;
    text-transform: uppercase;
    background-color: #FFF;
    position: absolute;
    top: 126px;
    right: 26px;
    font-weight: 500;
    font-size: 35px;
    border-radius: 50%;
    padding: 35px 10px;
    width: 170px;
    height: 160px;
}
/*===================================================
count-area
===================================================*/
.count-area {
    position: relative;
    background-color: #FCFCFC;
}
.count-area .count-item {
    text-align: center;
}
.count-area .count-item-circle {
    height: 100px;
    width: 100px;
    border: 1px solid #777;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}
.count-item-circle span {
    font-size: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}
.count-area .chart {
    position: relative;
}
.percent-blocks{
    padding-top:45px;
    padding-bottom: 70px
}
.count-item h2 {
    font: 700 30px "Lato",sans-serif;
    text-align: center;
    margin: 30px 0 5px;
}
.chart canvas {
    position: absolute;
}
.count-item h5 {
    font: 500 15px "Lato",sans-serif;
    padding: 2px 15px;
    text-transform: uppercase;
    margin: 0;
    border-left: 2px solid #FDC600;
    border-right: 2px solid #FDC600;
    display: inline-block;
}
.boy-sale-area {
    position: relative;
    padding: 70px 0;
    background-color: #F3F3F3;
    color: #FFF;
}

.asks-first-info{
    color: #FFF;
    margin: 35px 12px 0 85px;
}
.asks-first-info h2 {
    font: 400 22px "Lato",sans-serif;
    margin: 0 0 4px;
}
.asks-first-info p {
    font: 300 16px "Lato",sans-serif;
    margin: 0;
    font-style: italic;
}
.asks-first-arrow{
    top: 0;
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    float: right;
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0% 0%;
    text-align: center;
}
.asks-first-arrow span {
    background: rgba(255, 255, 255, 0.19) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    padding: 4px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.asks-call {
    color: #525252;
    text-align: center;
    margin-top: 45px;
    font-size: 1.35em;
}
.box-tree .item-tree-icon i{
    font-size: 3em;
    cursor:     pointer;
}
.box-tree .item-tree-icon{
    padding-top:35%;
}
.box-tree .item-tree-icon i:hover{
    color: #D27E04;
}
.box-for{
    padding: 10px 0;
    border: 1px solid #EEE;
    transition: all 0.2s ease 0s;
    box-shadow: none;
    background-color: #FFF;
}
.more-entry a{
    color: #000;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
.tree-sub-ttl {
    font-size: 12px;
}
.border-btn{
    border: 1.5px solid;
    background: transparent none repeat scroll 0% 0%;
    border-radius: 0;
    padding: 9px 25px;
    margin-top: 10px;

}
.border-btn:hover,.border-btn:focus{

}
.item-entry a {
    color: #000;
}
.item-entry a:hover ,.item-entry a:focus {
    color: #999696;
}
.search-form .search-toggle {
    margin-top: 20px;
    overflow: hidden;
    color: #777;
    border-top: 1px solid #EAEAEA;
    padding: 15px;
}
.search-form .form-inline .form-group {
    width: 235px;
    text-align: left;
    letter-spacing: 0.5px;
}
.slider-selection {
    background: #ec008c;
}
.search-form .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #ec008c;
    outline: 0 none;
}
.sliderrange.slider-horizontal .slider-selection{
    height: 2px;
    top: 0;
}
.sliderrange.slider-horizontal .slider-handle{
    margin-top: -5px;
}
.slider-handle{
    background: #ec008c;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: 1px 1px 25px 0px #ec008c;
    -moz-box-shadow:    1px 1px 25px 0px #ec008c;
    box-shadow:         1px 1px 25px 0px #ec008c;
}
.left-round {
    margin-left: 0 !important;
}
.sliderrange.slider-horizontal .slider-track{
    margin-top: 5px;
    height: 2px;
}
.search-form .dropdown-menu > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.search-form .dropdown-menu {
    padding: 5px 0 0 0;
}

/*
blog
*/
.blog-asside-right{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#blog-listing-big {
    padding: 100px 0 70px;
}
.blog-lst img{
    width:100%;
    padding-bottom: 15px;
}
.blog-lst .comment  img {
    width: auto;
    padding-bottom: 0;
}
.blog-page .post, #blog-homepage .post {
    margin-bottom: 40px;
    padding: 1px 15px;
}
.blog-page  .post h2, #blog-homepage .post h2, .blog-page  .post h4, #blog-homepage .post h4 {
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
.blog-page  .post .author-category, #blog-homepage .post .author-category {
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.blog-page  .post .author-category a, #blog-homepage .post .author-category a {
    font-weight: 500;
}

.blog-page  .post .image, #blog-homepage .post .image {
    margin-bottom: 10px;
    overflow: hidden;
}
.blog-page  .post .intro, #blog-homepage .post .intro {
    text-align: left;
}
.blog-page  .post .read-more, #blog-homepage .post .read-more {
    text-align: right;
}
.blog-page  .post .date-comments a, #blog-homepage .post .date-comments a {
    color: #999;
    margin-right: 20px;
    font-weight: 300;
}
/*FOOOTER*/
.footer-area{
}
.footer{
    padding: 0 0 60px;
    background-color: #262626 !important;
    background-size: 39% 120% !important;
}
.footer ul li i {
    padding-right: 10px;

}
.footer-copy{
    background: #da600f none repeat scroll 0% 0%;
    padding-bottom: 0px;
    padding-top: 10px;
}
.single-footer{
    margin-top: 35px
}
.footer img{
    margin-bottom: 20px;
}
.footer p{
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 20px;
    color: #ffffff;
}
.footer h4{
    color: #ffffff;
    font-weight: 400;
    margin-top: 0;
    font-size: 20px;
    width: 100%;
    line-height: 53px;
    margin-bottom: 0;
}
.signup-form .input-group-btn{background-color: #231f20;}
.footer h4 span{
    border-bottom: 3px solid #FDC600;
}
.footer-title-line {
    width: 100px;
    height: 2px;
    background: #FFA600;
    margin: 0 0 33px;
    position: relative;
    top: -2px;
}
.footer h5{
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.footer a{
    color: #fff;
}
.footer ul{
    padding: 0;
    margin: 0;
}
.footer  ol, .footer ul {
    /* margin: 0; */
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-left: 0;
    margin-top: 5%;
    line-height: 2;
    text-align: left;
    color: #b59ac6;
    font-size: 14px;
}
.footer  ol, .footer ul a:hover{
    color: #ec008c;
    text-decoration: none;
}

.footer ul li{
    margin-bottom: 5px
}
ul.footer-adress li {
    margin-bottom: -4px;

}
.footer ul li a{
    color: #a9a9a9;
    font-weight: 50;
    /* text-transform: uppercase; */
    font-size: 14px;
}
.footer ul li a:hover{
    color: #da600f;
    text-decoration: none;
}
.footer-menu li{

}

.footer-copy span{
    color: #fff;
    font-size: 14px;
}
.footer-copy span a{
    color: #000;
    font-weight: 500;
}
.footer img{
    height: 80px;
}
ul.footer-service li {
    float: left;
    width: 50%;
}
.footer-blog img {
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}
.footer-blog .blg-entry h6 a{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    color: #FFA600;
}
.footer-blog .blg-entry h6 {
    padding: 2px 0;
    margin: 0;
}
.footer-blog .blg-date {
    color: #FFF;
    background-color: #AD7206;
    padding: 2px 3px;
    font-size: 11px;
    position: relative;
    top: -22px;
    width: 100%;
}
.footer-blog .blg-thumb img{

}

.footer-blog p {
    line-height: 17px;
    padding: 8px 2px;
}
.news-letter .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #E1E1E1;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: none;
    border: 1px solid rgba(231, 157, 45, 0.3);
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(179, 179, 179, 0.1) inset;
}
.news-letter .form-control:hover ,.news-letter .form-control:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
.footer .subscribe{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 19px;
    font-size: 14px;
    /* margin-left: -17px; */
    z-index: 99;
    background-color: #da600f;
    border-color: #da600f;
}
.footer .subscribe:hover{
    background-color: #2D2D2D;
    border-color: #2D2D2D;
}

.social ul {
    padding: 0;
    list-style: outside none none;
}
.social li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}
.social  ul li a:hover {
    color: #ec008c;
    order-color: #868686;
    background-color: #868686;
}
.social  ul li a:hover i{
    color: #ec008c;
}
.social ul li a{
    display: block;
    width: 29px;
    height: 0;
    /* line-height: 3px; */
    /* border-radius: 50%; */
    /* border: 1px solid rgb(146, 146, 146); */
    /* transition: all 0.8s ease 0s; */
    /* color: rgb(146, 146, 146); */
}
.social ul li a i{
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
}
.bottom-menu ul{
    list-style: outside none none;
    color: #fff;
}
.bottom-menu ul li{
    float: left;
    display: inline-block;
}
.bottom-menu ul li a {
    font-size: 13px;
    color: #2A2A2A;
    padding: 10px;
    font-weight: 500;
}
.bottom-menu ul li a:hover{
    color: #FFC600;
}
/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../../assets/img/preloader.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}
.prop-btm-sheaerch {
    display: none
}
#map {
    height: 300px;
}
.recent-property,.why-book{
    position: relative;
}

.testimonial-heading h1{
    background: url("../img/trust-img.png") no-repeat right top;
}
.newletter{
    background-color: #404040;
}

.newletter h3{
    font-size: 20px;
    color: #fff;
    padding-top: 0px;
    margin-top: 13px;
}
.newletter p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.502);
    z-index: 286;
}
.news-form{
    margin-top: 10px;
}
.news-form form{margin-bottom: 0%!important;}
.social2{
    margin-top: 10px;
    margin-bottom: 0PX;
}
.news-form .btn-primary{margin-top: 0;}

.social2 ul {
    padding: 0px;
    list-style: outside none none;
}
.social2 li {
    display: inline-block;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
}
.social2  ul li a:hover {
    color: #ffffff;
    border-color: #ffff;
    background-color: #da600f;
}
.social2  ul li a:hover i{
    color: #fffeff;
}
.social2 ul li a{
    display: block;
    padding: 4px;
    line-height: 3px;
    border-radius: 50%;
    border: 2px solid rgb(243, 243, 243);
    transition: all 0.8s ease 0s;
    color: rgb(146, 146, 146);
    overflow: hidden;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
}
.social2 ul li a i{
    color: #da600f;
    font-size: 14px;
    padding: 10px;
}
.signup-text {
    margin-top: 5px;
    margin-bottom: 0px;
}
.signup-form{
    margin-top: 0px;
    margin-bottom: 0px;
}

.life-us{
    background-color: #ffffff;
    margin-top: 0;
}

.life-us h3{
    font-size: 40px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}
.like-button{
    text-align: center;
}
.like-button ul{
    list-style: none;
    overflow: hidden;
}
.like-button li{
    float: left;
    width: 13%;
}

.watch-video{
    background: #ffffff url("../../assets/img/watch-video-bg.jpg")
    no-repeat scroll center top / cover;
    background-size: 100% 470px;;
}

/* carousel */
.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none;
    border: 0px solid #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    height: 40px;
    width: 40px;
    margin-top: 16%;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none;
    border: 0px solid #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    height: 40px;
    width: 40px;
    margin-top: 16%;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel .item a{
    display: block;

}
.watch-video .media-carousel .carousel-inner{
    padding-bottom: 75px;
    margin-bottom: -70px;
}
.media-carousel img {
    width: 758px;
    height: 471px;
    -webkit-box-shadow: 1px 22px 90px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 22px 90px 0px rgba(0,0,0,0.6);
}
/* End carousel */
.video-title h2 {
    margin: 10px auto 20px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}
.video-title h2 span {
    background: url(../img/title-icon-left.png) no-repeat left center, url(../img/title-icon-right.png) no-repeat right center;
    padding: 0 40px;
    color: #ffffff;
}
.form-title h2 {
    margin: 10px auto 20px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form-title h2 span {
    background: url(../img/title-icon-left.png) no-repeat left center, url(../img/title-icon-right.png) no-repeat right center;
    padding: 0 40px;
    color: #121d44;
}
.contact-info{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-info ul {
    list-style: none;
    margin-top: 20px;
}
.contact-info li{
    /* float: left; */
    font-size: 14px;
    font-weight: bold;
    margin-left: -48px;
}
.grid-right-top{
    background-color: #f9f9f9;
    border: 1px solid #efefef;
    border-radius: 4px;
}
.grid-items{
    margin-right: -10px;
}
.left-side-bar{
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 5px;
    margin-top: 10px;
}
.left-side-bar fieldset{
    border-bottom: 1px solid #efefef;
    margin: 0 -10px 10px;
    padding: 0 15px 20px;
}
.price-range-section .col-xs-12 > input {
    border: 1px solid #efefef;
    border-radius: 0;
    height: 50px;
}
.price-range-section .col-xs-12 > input:last-child {
    margin-left: -1px;
}
.activeDates{
    background: #fe9489;
    color: #ffffff;
}
.day.today{
    background: #7d3d97 !important;
    color: #ffffff !important;
}
.datepicker-days thead tr th{
    padding: 0 0 3px 0;
}
.datepicker-days thead tr th.prev,
.datepicker-days thead tr th.next{
    background: #f3f3f5;
}
.datepicker-days tbody tr td{
    border-radius: 0;
    padding: 0 6px;
}
.datepicker-days{
    padding-top: 12px;
}

/* modal image css*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.disclamier{
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10%;
}


/*---------------NEW CSS STYLE CODE-------------------*/
.bg-g{
    background-color: #f2f2f2;
}
.second-silder ul{
    list-style: none;
    line-height: 1.5;
    margin-left: -40px;
    font-weight: 400;
}
.second-silder{
    padding: 10px 0px 10px 0px;
}
.b-right{
    border-right: 2px solid #cccc;
}
.none-b-right{
    border-right: none!important;
}
.ehover11{
    margin-top: 30px;
}
.btn-primary{
    color: #FFF;
    background-color: #404040!important;
    border-color: #404040;
    border-radius: 1px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 10px;
}

.blog{
    padding: 50px 0 50px 0px;
}
.blog-bg{background-color: #fff; padding: 0px;}
.blog .log{
    background-color: #ffffff;
}
.blog .log img{
    width: 150px;
}
.Product-sec{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Product-sec span{
    background-image: url("assets/img/heading-bg.png")}
.product span img{
    text-align: center;
}
.product p {
    text-align: center;
    margin-top: 40px;
    padding: 0;
}
.product strong{
    font-weight: 700;
    font-size: 18px;

}
.product span{
    text-align: center;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
}

.hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.mg-150{
    margin-top: 150px;
}
.filter-bg{
    background-color: #5b6878;
    padding-bottom:10px;
}
.search-row{
    margin-top: 20px;
}
.search-row ul{margin-bottom: 3px;}
.search-row li{
    list-style: none;
    display: inline;
}
.search-row li a{
    color: #ffffff;
    padding: 10px 50px 10px 50px;
}
.search-row .open>.dropdown-menu {
    display: block !important;
    background-color: #5b6878 !important;
    margin-top: 10px!important;
    min-width: 170px!important;
}
.product figure{
    text-align: center;
}
.product-box{
    background-color: #ffff;
    padding: 10px 10px 10px 10px;
    margin: 30px 10px 30px 10px;
}
.product-box:hover{
    border-color: rgb(246, 246, 246);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 28px 12px rgba(0,0,0,0.15);
    transition: opacity 0.3s ease-in-out;
}
.product-box figure{
    text-align: center;
    height: 150px;
    margin-top: 40px;
}
.product-box p{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #182a41;
    padding: 0 0 0.2em;
}
.product-box >p strong{text-align: center;font-size: 20px;padding-left: 5px;color: #182a41;}
.colores p{font-size: 14px;color: rgb(171, 171, 171);}
.colores ul{width: 200px;}
.colores li{float: right;width: 10px;font-size: 20px;}
.shop-bth{margin-top: 80px;text-align: center;margin-bottom: 0px;}
.product-card .shop-bth a{display: none;}
.product-card:hover .shop-bth a{display: block}
.product-card:hover .shop-bth a {
    background-color: #ffffff!important;
    color: #606975!important;
    outline: none!important;
    border: 1px solid #606975!important;
}
.shop-bth a{border: 1px solid #5b6878;text-align: center;padding: 7px 60px 7px 60px;font-size: 15px;color: #5b6878;border-radius: 5px;}
.shop-bth button{border: 1px solid #5b6878;text-align: center;padding: 10px 30px 10px 30px;font-size: 15px;color: #5b6878;border-radius: 5px;background: transparent;font-weight: 800;}
.shop-bth button:hover{color: #ffffff; background-color: #5b6878;}
.shop-bth a:hover:active{color: #ffffff;background-color: #5b6878;}
.pagination-top{border-top: 1px solid #7172732e;text-align: center}
.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
    color: #6a7480;
    border-radius: 8px;
    margin: 3px;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
    background-color: #5b6878;
    color: #fff;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
    border-radius: 8px;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 8px;
}

.pagination li:last-child a,
.pagination li:last-child span {-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;border-radius: 8px;}
.pagination-centered {text-align: center;}
.pagination-right {text-align: right;}
.dropdown-menu > li > a{width: 250px;}
.dropdown-menu img{margin-right: 5px; border-top: 1px solid #ffffff4d;}
.product-detail{margin-top: 100px}

/*product detail page start*/
img {
    max-width: 100%; }

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.step .card {
    margin-top: 50px;
    padding: 1.5em;
    line-height: 1.5em; }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #495869; }
.unchecked, .price span {
    color: #eeeff0; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #ffffff;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #5b6878;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    border: 2px solid #5b6878;
    margin-top: 10px;
    border-radius: 10px;
}
.add-to-cart:hover, .like:hover {
    background: #7c8693;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }
.details-product-left{border-top: 1px solid #777;padding: 25px 0 0 0px;}
.color-available li{float: left;
    width: 20px;
    font-size: 40px;}
.stars{margin-top: 0px;}
.stars a{color: #729adc; font-size: 14px;}
.stars fa{color:#eeeff0;}
.sizechat size{
    list-style: none;
    float: left;
    width: 20px;
    border: 1px solid;
    padding: 5px 23px 5px 15px;

}
.sizechat{margin-top: 20px;}
.size {
    margin: 0 5px 0 5px;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
    box-shadow: 1px 1px 4px #00000061;
    border-radius: 3px; }
.size a{color: #729adc;font-size: 14px;}
.ratess span{color: #7c8693;
    font-size: 30px;
    font-weight: bold;}
.ratess strong{
    font-size: 50px;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {border: none;color: #7c8693 !important;background: transparent;}
.nav-tabs > li > a::after {content: "";background: #7c8693;height: 2px;position: absolute;width: 100%;left: 0px;bottom: -1px;transition: all 250ms ease 0s;transform: scale(0);}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
/*.tab-content{padding:20px}*/
.heading-big{margin: 140px 0px 40px 0px;}
.heading-big h2{text-align: center;line-height: 0;color: #404040cc;font-size: 30px;}
.heading-big h1 {position:relative;text-align:center;color: #0a1a2f;font-size: 38px;z-index: 2;}
.heading-big h1:after { content: '';height: 1px;background: #a9a9a9;width: 100%;position: absolute;left: 0;top: 20px; z-index:-1; }
.heading-big h1 span { background:#fff; padding:0 10px; display:inline-block; }
.heading-blog h2{text-align: center;line-height: 0;color: #ed4e24;font-size: 30px;}
.heading-blog h1 { position:relative; text-align:center;color: #0a1a2f; font-size: 38px }
.heading-blog h1:after { content: '';height: 1px;background: #f8f8f8;width: 100%;position: absolute;left: 0;top: 20px;z-index:-1; }
.heading-blog h1 span { background:#f8f8f8; padding:0 10px; display:inline-block; }
/*product detail page end*/
/*faq css start*/
.help-faq{
    margin-top: 150px;
}

.sidebar-container .sidebar-menu {
    margin: 10px auto;
    padding: 0px 0px 5px 10px;
    list-style: none;
}
.sidebar-container .current a {
    color: #231f20a8;
}
.sidebar-container a {
    display: block;
    padding: 10px 0;
    color: #a7a0a0;
}
.help-list {
    margin: 35px auto;
}
.faq-title {
    padding: 7px 0 14px;
    font-size: 35px;
    font-weight: lighter;
    border-bottom: 1px solid #26262652;
    color: #231f20;
    font-weight: 700;
}
.affilate ul{position: relative;margin: 10px;padding: 10px;}
/**/
.panel-group .panel-title{
    box-shadow: 0px 0px 13px 0px #00000040;
    margin-bottom: 15px;
}
.panel-body ul{
    list-style: none;
    display:  inline;
    margin-top: 0px;
}
.panel-body li{
    padding: 0 0 0 0;
    color: #8e8c8c;
    font-weight: 500;
    line-height: 1.5;
    /* margin: 0 0 0 0; */
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    color: #231f20a8;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #ffffff;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}
.how-can{border-right: 1px solid}
.how-can-2{padding: 14px;}
.how-can ul{list-style: none;padding: 0;}
.how-can li a{font-size: 15px;color: #231f20a8;}
.how-can p{margin-top: 30px}
.order-tracking a{color: #ea4e25;}
.order-tracking .tracking-form{margin: 10px auto 15px;}
.tracking-form .tracking-iniput {
    width: 295px;
    margin: 5px 0;
    padding: 8px 0;
    text-indent: 6px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.tracking-form button{
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    padding: 6px 33px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ea4e25;
    background-color: #ea4e25;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;}
.contact-head a{
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 10px;
    padding: 20px 60px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ea4e25;
    background-color: #ea4e25;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;}
/*hover img css start*/

.item {position: relative; overflow: hidden; width: 100%;}
.item img {max-width: 100%;-moz-transition: all 1.5s;-webkit-transition: all 1.5s; transition: all 1.5s;}
.item:hover img {-moz-transform: scale(3.1);-webkit-transform: scale(4.1);transform: scale(1.1);}

.item-overlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0;   }
.midoverlay { display: table; height: 100%; width: 100%;}
.item-overlay .middlealign { display: table-cell; vertical-align: middle; color: #fff; text-align: center; }
.item-overlay .bannerone{vertical-align: bottom; text-align: left; padding: 40px;}
.item-overlay .bannerone h4{font-size: 40px; color: #1f2e35}
.item-overlay .bannerone p{font-size: 25px; color: #1f2e35;line-height: 1;}
.item-overlay .bannerone a{font-size: 16px;color: #1f2e35;border: 1px solid;padding: 15px 35px;border-radius: 10px;}
.item-overlay .bannertwo{vertical-align: top; text-align: center; padding: 30px 0px 0px 0px;}
.item-overlay .bannertwo h4{font-size: 50px; color: #1f2e35}
.item-overlay .bannertwo p{font-size: 25px; color: #1f2e35;line-height: 1;}
.item-overlay .bannertwo a{font-size: 16px;color: #1f2e35;border: 1px solid;padding: 15px 35px;border-radius: 10px;}
.item-overlay .bannerthere{vertical-align: top; text-align: right; padding: 30px 100px 00px 100px;}
.item-overlay .bannerthere h4{font-size: 60px; color: #1f2e35}
.item-overlay .bannerthere p{font-size: 18px; color: #1f2e35;font-weight: 500;line-height: 2;}
.item-overlay .bannerthere a{font-size: 16px;color: #1f2e35;border: 1px solid;padding: 15px 35px;border-radius: 10px;}
.item-overlay .bannerfour{vertical-align: bottom; text-align: left; padding: 40px;}
.item-overlay .bannerfour h4{font-size: 25px; color: #1f2e35}
.item-overlay .bannerfour strong{font-size: 65px; color: #1f2e35}
.item-overlay .bannerfour p{font-size: 25px; color: #1f2e35;line-height: 1;}
.item-overlay .bannerfour a{font-size: 16px;color: #1f2e35;border: 1px solid;padding: 15px 35px;border-radius: 10px;}
.item-overlay .bannerfive{vertical-align: top; text-align: left; padding: 40px;}
.item-overlay .bannerfive h4{font-size: 25px; color: #1f2e35}
.item-overlay .bannerfive strong{font-size: 65px; color: #1f2e35}
.item-overlay .bannerfive p{font-size: 25px; color: #1f2e35;line-height: 1;}
.item-overlay .bannerfive a{font-size: 16px;color: #1f2e35;border: 1px solid;padding: 15px 35px;border-radius: 10px;}
.item-overlay .bannersix{vertical-align: top; text-align: left; padding: 20px;}
.item-overlay .bannersix h5{font-size: 40px; color: #ffffff; text-align: right;padding-left: 40px;}
.item-overlay .bannersix strong{font-size: 30px; color: #ffffff}
.item-overlay .bannersix p{font-size: 25px; color: #1f2e35;line-height: 1;}
.ehover12 .midoverlay { display: table; height: 100%; width: 60%;}
.item-overlay .bannersix ul{list-style: none;font-size: 30px;line-height: 1.1;margin: 5px;font-weight: bolder;}
.item-overlay .bannersix .bor{border-right: 3px solid;padding-right: 30px;}
.b-right img{float: left;margin-right: 40px;}
/*try on page css start*/
.try-on-box{
    margin-top: 100px;
}
.rect {
    position: absolute;
}
.rect {
    position: absolute;
    z-index: 99999 !important;
}


#face {
    position: absolute;
    border: 1px solid;
    margin-top: 0px;
    width: 300px!important;
    height: 380px;
    z-index: 9998;
    /* position: absolute; */
}
.tryon-try{
    background-color: #000000;
    height: 400px;
    width: 300px;

}
.tryon-try figure{display: inline-block;}
.tryon-try img{text-align: center}
.try-bth-di li{
    list-style: none;
    float: left;
    padding: 10px;
}
.default-tips{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #a3a3a3;
}
.uploader-try-on li{
    list-style: none;
    float: left;
}
.tryon-uploader ul{list-style: none;}
.tryon-uploader h4{font-size: 25px;color: #f04d24;font-weight: 600;}
.tryon-uploader input{width: 100%}
.upload-list ul{list-style: none; }
.upload-list li{float: left; width: 150px;}
.upload-list i{color: #f04d24;margin-right: 5px;}
.try-first-upload-tips p{color: #231f20;font-weight: bold;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height:550px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.offcanvas-wrapper{
    position: initial !important;
}


.dropdown-toggle::after{
    display: none !important;
}

.myBtn{
    margin: 0 auto !important;
}
.color-1{color: red;}
.color-2{color: grey;}
.color-3{color: black;}
.color-4{color: brown;}
.color-5{color: green;}
.fmbt{margin:10px;}

.fixed_width_btn{
    width: 95px  !important;
    color: #fff  !important;
   
    font-weight: 400  !important;
}

.demo-container .face{
    width: auto !important;
}

.btn.disabled, .btn[disabled],fieldset[disabled] .btn {
        opacity: 0.1;
}
.steps-form .steps-row .steps-step p {
color: #000;
font-weight: 500;  
}


/**********!  Update By Umair !********/
@media (min-width: 320px) and (max-width: 768px){
    .product-card .shop-bth a {
        display: block !important; 
    }
    .product-price div{
        font-size: 12px;
    }
    .product-title {
        font-size: 12px !important;
    }
    .shop-bth {
        margin-top: 20px !important;
        text-align: center;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1024px){
    .product-card .shop-bth a {
        display: block !important;
        background-color: #ffffff!important;
        color: #606975!important;
        outline: none!important;
        border: 1px solid #606975!important; 
    }
}
@media screen and (min-width: 320px){
    
    .heading_big_custom h1 {
        font-size: 29px;
        margin-top: 0px;
    }
    .heading_big_custom {
        margin: 0px 0px 0px 0px;
    }
}
/**********!  Update By Umair !********/

@media (max-width: 768px) { 
    .mobi_text_center{
        text-align: center;
    }
    .second-silder ul{
        margin-left: 0px;
        padding-left: 0px;
    }
}
