@import "./pricingTable.min.css";

.required-field > label::after {
    content: " \f005";
    color: #F44336;
    font-family: FontAwesome;
    font-size: .6em;
    vertical-align: super;
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

.form-group.has-error .help-block {
    color: #ff1f1f;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fff !important;
}

.navbar-default .navbar-nav>.active>a::after{
    width: 100%;
}
@media (max-width: 768px) {
    .sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
        padding: 8px !important;
    }
}

::-webkit-inner-spin-button {
    display: none;
}

select.form-control[multiple] {
    background: none;
}

.sw-btn-next {
    margin-left: 10px !important;
}

.icheckbox_flat-blue, .iradio_flat-blue {
    width: 21px;
    height: 21px;
}

a.clickable-object {
    position: relative;
    display: inline-block;
}

a.clickable-object:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tab-content {
    padding-top: 2rem;
}

#cart-details .table-responsive {
    border-radius: 5px;
}

#cart-details table thead tr {
    background-color: #50c6e9;
    color: #FFF;
}

#cart-details table thead td, #cart-details table thead th {
    text-align: left;
}

.inner{
    margin-top: 1.8em;
}
.navbar{
    min-height: 100px !important;
}
@media (min-width: 768px)
{
    ul.main-nav.nav.navbar-nav{
        display: table !important ;
        margin: 0 auto !important;
        float: none;
    }
    .navbar-nav>li {
        /*             float: none;
                    display: inline-block !important;*/
    }
}

.m_50{
    margin-top: 5em;
}
.try-bth-di ul li img {
    min-height: auto !important;
    height: 40px;
}
.custom_sub_text1{
    color: #a2a2a2;
    margin-bottom: -3em;
    margin-top: 100px;
}
.btn-sm{
    height: auto !important;
}
.pro-quantity .form-group label{display: none;}
.pro-quantity input{width: 50px; box-shadow:0px 2px 3px 0px rgba(0,0,0,0.15);}
.color-available{
    margin-left: -1em;
}

.color-available ul{
    margin-left: 4em;
    margin-top: -1.5em;
    text-align: center;
}

.product-card:hover{
    border-color: rgb(246, 246, 246);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 5px rgba(86, 83, 83, 0.15);
    transition: opacity 0.3s ease-in-out;

}

.product-card .color-available{
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -5px;
}
.product-card .color-available h6{margin-top: 0;margin-bottom: 0;}
.product-card img{
    min-height: 200px !important;
    width: 100% !important;
}
.product-card{
    border: none !important;
    margin: 10px 10px 10px 10px;
}

.inline_block{
    display: table;
    margin: 0 auto;
}

.product-card button.btn.add-to-cart.btn-sm.btn-primary.ladda-button{
    display: inline-block !important;
    margin: 0 auto;
}
.inline_block a.btn.btn-outline-primary.btn-sm.ladda-button
{
    display: inline-block !important;
    text-align: center;
}
.product-buttons{
    display: inline-block !important;
    text-align: center;
}

.product-buttons a.btn.btn-outline-secondary.btn-sm.btn-wishlist.ladda-button
{
    display: none !important;
}

.bg_orange{
    background-color: #fd0404 !important;
    color: #fff !important;
}

li.show{
    display: -webkit-inline-box!important;
}

ul.dropdown-menu.show{
    background-color: #5b6878;
}

div.shop-view {
    display: none !important;
}

h1.faq-title.text-light{
    color: #000 !important;
}

.modal {
    z-index: 99 !important;
    padding-top: 0px !important;
}
.try-on-box {

    margin-top: 0px !important;
}
.modal-content{
    position: absolute !important;
    left: 50% ;
    top: 50% ;
    margin: 0 !important;
    margin-left: -522px !important;
    margin-top: -320px !important;
}

a#myBtn{
    margin: 0;
}

.sku-item {
    position: relative;
}

.sku-item .badge {
    font-size: 75%;
    /*width: 100%;*/
}

.img-radio {
    max-height: 100px;
    margin: 5px auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.selected-radio > img {
    opacity: .45;
}

.selected-radio .middle {
    opacity: 1;
}
.step{background-color: #f9f9f9;}
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
/*
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
*/
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px !important;
    margin-top: 0;
    background-color: #f6f6f6;
    color: #231f20;
}
.step .first-step-box{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px;
    border: 1px solid #f9f9f9;
    margin-top: 30px;
    color: #777;
}
.first-step-box >h3{text-align: center;}
.step .first-step-box:hover{background-color: #f6f6f6;color: #5e5d5d;border: 3px solid #f6f6f6;}
.stp-hed h4{font-size: 15px;color: #777;}
.stp-hed{text-align: center; border-bottom: 1px solid;border-bottom-style: dotted;border-bottom-color: #ed4f20;}
.option-content{margin-top: 25px;}
.option-content .text-box {width: 65.9%;display: table-cell;text-align: left;vertical-align: middle;}
.text-box p{font-size: 15px;line-height: 1.5;color: #777;font-weight: 500;}
.option-content .text-box {
    width: 65.9%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.option-content .img-box, .option-content .img-box-three, .option-content .img-box-two {width: 34.1%;display: table-cell;vertical-align: middle;}
.option-content .img-box .im-rx-distance {background-position: -2px -2px;}
.add-rx-container {
    position: relative;
    padding: 2% 2% 2% 3%;
    border-bottom: 1px solid #d3d3d3;
}
.add-rx-container .clearfix{clear: both;list-style: none;padding: 0;}
.add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}

.add-rx-container .add-rx-title>label {
    font-size: 14px;
}
.add-rx-container .add-rx-title>label {
    margin-bottom: 0;
    color: #eb4e21;
    font-weight: 800;
}
.add-rx-container .add-rx-title>label>span {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    color: #777;
}
.add-rx-container .add-rx-title {
    padding-top: 9%;
    border-right: 1px solid #f1f1f1;
}
.add-rx-container li {
    width: 20%;
    float: left;
    padding: 6px 3% 2%;
}
.add-rx-container .rx-name-title {
    text-align: center;
}
.add-rx-container .rx-name-title {
    margin-bottom: 0;
    padding-top: 26.5%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    color: #e95026;
    font-weight: 600;
}

.rx-select>select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    display: inline-block;
    padding: .5rem 2rem .5rem 1rem;
    border-radius: 0;
    position: relative;
    width: 119%\9;
}
.add-rx-container li>label {
    display: block;
    padding: 17% 0;
    margin-bottom: 11%;
}
.rx-input input {
    line-height: normal;
    BACKGROUND-COLOR: #f9f9f9;
    border-bottom: 1px solid #cdcdcd;
}

.rx-select>select>option {
    color: #000;
}
.rx-select:after {
    position: absolute;
    bottom: 15px;
    right: .46875rem;
    z-index: 3;
    content: "\e61c";
    color: #999;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-bottom: -.3em;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 0\9;
}
.add-pd-container .add-rx-title, .add-prism-container .add-rx-title, .add-rx-container .add-rx-title {
    width: 17%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 500;
}
.add-pd-container .add-rx-title {
    width: calc(17% + 1px);
}
.add-pd-container li {
    display: inline-block;
    float: left;
    padding: 5px;
    list-style: none;
}
.rx-input, .rx-select {
    height: 33px;
    font-weight: 700;
    font-size: 16px;
}
.add-pd-container {
    position: relative;
    padding: 2% 0% 4% 0%;
}
.add-pd-container .rx-pd-checkbox {
    padding-right: 2%;
    padding-left: 3%;
    white-space: nowrap;
}
.add-pd-container .pd-add-two {
    width: 20%;
    padding-right: 3%;
    padding-left: 3%;
    display: none;
}
.rx-input>input, .rx-input>select, .rx-select>input, .rx-select>select {
    height: 100%;
    padding: 0px 15px !important;
}
.checkbox-ui {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
}
.checkbox-ui label {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    background: url(./assets/img/im-checked.png) 4px 25px no-repeat #fff;
}
.card-result h3{font-size: 28px;margin: 0 0 10px;}
.card-result h6{font-size: 20px;color: #b4b4b5;font-weight: 400;}
.buying-glass span{text-align: center;display: inherit;}
.product-shop-rate{border-top: 1px solid #bab5b5;padding: 1.5em;padding-bottom: 82px;}
.product-shop-rate p{padding: 0;font-size: 15px;}
.glasses-rate{margin-top: 10px;}
.glasses-rate p{font-size: 18px;font-weight: 500;}
.glasses-rate span{font-size: 25px;font-weight: 800;}
.glasses-buy-bth{margin-top: 30px;text-align: center;}
.glasses-buy-bth a{background-color: #231f20;color: #fff;font-size: 20px;padding: 10px 30px 10px 30px;}
.glasses-buy-bth a:hover{background-color: #ed4e24;}
.panel-body .shipping{padding: 0px;}
/*
.btn[disabled], .btn.disabled{
    background-color: #fafafa !important;
    color: #000 !important;
}
*/
div.first {
    display: block;
    background-color: yellow;
    height: 6em;
    width: 6em;
    text-align: center;
}

div.first:hover {
    background-color: aqua;
    cursor: pointer;
}

p.second {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.second input[type='checkbox'] {
    transform: translateY(15%);
    cursor: pointer;
}

.active{
    background-color: #f6f6f6!important;
}
.nextBtn,.prevBtn {
    color: #FFF;
    background-color: #ec4d25;
    border-color: #ea4f23;
    border-radius: 1px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 10px;
}

.nextBtn:hover,.prevBtn:hover {
    background-color: #000;
    border-color: #000;
}
.first-step-box:hover{
    cursor: pointer;
}

.customSubmitBtn{
    padding: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}
.sku-item {
    position: relative;
}

.sku-item .badge {
    font-size: 75%;
    /*width: 100%;*/
}

.img-radio {
    max-height: 100px;
    margin: 5px auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.selected-radio > img {
    opacity: .45;
}

.selected-radio .middle {
    opacity: 1;
}
.search_form{
    display: inline-block;
    }
    .custom_search{
        display: inline-block;
    }
    .custom_search #search_bar{
        display: inline-block;
        border-bottom: 1px solid;
        width: 180px;
        margin-right: 10px;
    }
    i.fa.fa-search.search_icon{
        font-size: 20px !important;
    }