@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?76007318');
  src: url('../fonts/fontello/fontello.eot?76007318#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?76007318') format('woff'),
       url('../fonts/fontello/fontello.ttf?76007318') format('truetype'),
       url('../fonts/fontello/fontello.svg?76007318#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76007318#fontello') format('svg');
  }
}
*/
 
 
