body {
    color: #f8e8e7;
}

a {
    color: #3fc3ee;
}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    color: #000;
/*    border: #fff solid 1px;*/
    border-bottom-right-radius: 50px;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.login-box, .register-box {
    margin: 6% auto;
}

html, body {
    height: auto;
}